ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li.right {
  float:right;
}

li:hover {
  cursor: pointer;
}

li:hover:not(.active) {
  background-color: plum;
}

.active {
  background-color: #04AA6D;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover, .dropdown:hover .dropbtn {
  background-color: #04AA6D;
}

ul li ul {
  display: none;
  position: absolute;
  background-color: purple;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 700px) {
  ul li.right, 
  ul li { 
    float: none;
    display: block;
  }
  ul li ul {
    display: none;
  }
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}