
  :root {
    --page-max-inline-size: 100%;
  }
  
  * {
    margin: 0;
  }
  
  body {
    padding-block: var(--padding-lg);
  }
  
  caption {
    text-align: start;
  }

  table, th, td {
    background-color: white;
    margin: 20px 100px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);


  }
  td {
    width: 300px;
    height: 100px;

  }


  input{
    width: 50px;
  }

  /* .modifiy{
    width: 300px;
    height: 100px;
    margin: 20px 100px;
  } */
