
    <Table class="type11">
        <tbody
        (click)="onUpdate(class)"
        >
        <tr>

            <td>{{class.Name}} <fa-icon
                (click)="onDelete(class)"
                [ngStyle]="{'color':'red'}" [icon]="faTimes"
                ></fa-icon>
            </td>
            <td>{{class.STime}}</td>
            <td>{{class.ETime}}</td>
            <td>{{class.Descript}}</td>
            <td>{{class.Date}}</td>
            <td>{{class.ClassSeats}}</td>
            <td>{{class._id}}</td>
        </tr>
        </tbody>
    </Table>

    
