<!-- Can not put it to app-admins-classinfo because it also be repeited  -->
<button (click)="checkAddClass()"><span>Add Class</span></button> 



<div *ngIf="check_add">
    <form class="add-form" (ngSubmit)="onCreatClass()">
        <!-- <div class="form-control">
            <input type="number" name="class-id" [(ngModel)]="id" id="class-id" placeholder="Type Class ID (Only Number): " />        
        </div> -->
    
        <div class="form-control">
            <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Type Class Name: " />        
        </div>
    
        <div class="form-control">
            <input type="text" name="desc" [(ngModel)]="desc" id="desc" placeholder="Type Class Description: " />
        </div>

        <div class="form-control">
            <input type="number" name="price" [(ngModel)]="price" id="price" placeholder="Price: " />
        </div>
    
        <div class="form-control form-control-check">
            <!-- <label class="class-start">Class Start </label><br> -->
            <input type="time" name="start" [(ngModel)]="start" id="start"/>
        </div>
    
        <div class="form-control form-control-check">
            <!-- <label class="class-end">Class End </label><br> -->
            <input type="time" name="end" [(ngModel)]="end" id="end"/>
        </div>

        <div class="form-control">
            <input type="text" name="sets" [(ngModel)]="sets" id="sets" placeholder="Type Class sets: " />
        </div>

        <div class="form-control">
            <input type="date" name="Tdate" [(ngModel)]="Tdate" id="Tdate" placeholder="Type Date: " />
        </div>
        <div class="wrap">
            <input type="submit" value="Add Class" class="btn-block"> 
        </div>
    </form>

</div>