

.flex-parent-element{
  display: flex;
  width: 100;
}

  .flex-child-element-edit{
    flex:2;
    border: 2px solid red;
    margin: 10px;
    max-height: 250;
  }
  .flex-child-element-add{
    flex: 2;
    border: 2px solid red;
    margin: 10px;
    /* display: none; */

  }


.flex-child-element-add-buttonAndTable{
  display: flex;
  flex: 5;
  border: 2px solid red;
  margin: 10px;
  float : left;
}

  table.type11 {
    border: 2px solid #000;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
  }

  table.type11 td {
    table-layout: fixed;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }

  .button{
    background-color: #4CAF50; /* Green */
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    border: 2px solid #000;
    margin: 5px;
  }
  .button2 {background-color: #f44336;} /* Red */ 

.userStatus{
  color: red;
}

.one{
  display: none;
}

#input{
  width: 170px;
  height: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}
label {
  color: black;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  }



textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.center {
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}