.flex-parent-element{
  display: flex;
  width: 100;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  
}

  .flex-child-element-edit{
    flex:2;
    border: 2px solid black;
    margin: 10px;
    max-height: 250;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);

  }



  button{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  }


  .flex-child-element-add{
    flex: 2;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);

  }

  .circle {
    height: 100px;
    width: 100px;
    background-color: #555;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 38%;  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);

  }







.flex-child-element-add-buttonAndTable{
  display: flex;
  flex: 5;
  border: 2px solid black;
  margin: 10px;
  float : left;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);

}

  /* table.type11 {
    border: 2px solid #000;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
  }

  table.type11 td {
    table-layout: fixed;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
  } */


  :root {
    /* Inline size */
    --page-max-inline-size: 100%;
  }
  
  * {
    margin: 0;
  }
  
  body {
    padding-block: var(--padding-lg);
  }
  
  caption {
    text-align: start;
  }

  table, th, td {
    background-color: white;
    margin: 20px 50px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  }
  



  td {
    width: 300px;
    height: 100px;
  }



#input{
  width: 170px;
  height: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}

label {
  color: black;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  }

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}


.Initaltext{
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
}
















.button{
  background-color: #4CAF50; /* Green */
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  border: 2px solid #000;
  margin: 5px;
}
.button2 {background-color: #f44336;} /* Red */ 

.userStatus{
  color: yellowgreen;
}

.one{
  display: none;
}



.btn-Update{

  background-color: #4CAF50; /* Green */
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  border: 2px solid #000;
  margin: 5px;

  margin-left: 25%;
}
