.table {
    background-color: white;
    border: 2px solid black;
    width: fit-content;
    padding: 15px;

}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
}