<div class="Display">
  <h2>Edit Profile</h2>
  <div class="table">
    <form [formGroup]="editProfileForm" class="form">
      <mat-form-field appearance="fill" class="form-item">
        <div id="label">First name</div>
        <input matInput type="text" id="signEmail" formControlName="fname" placeholder="First name" [(ngModel)]="fname"
          required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-item">
        <div id="label">Last name</div>
        <input matInput type="text" id="signEmail" formControlName="lname" placeholder="Last name" [(ngModel)]="lname">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-item">
        <div id="label">Birthday</div>
        <input matInput type="date" id="signPassword" formControlName="bday" placeholder="Birthday" [(ngModel)]="bday">
      </mat-form-field>
      <!-- Calling SignIn Api from AuthService -->
      <div *ngIf="user.UID.length < 28" style="color:red;">Can't change a mock profile, sorry - sean</div>
      <div class="formGroup" *ngIf="user.UID.length >= 28">
        <button (click)="applyChanges()">Apply Changes</button>
        <button (click)="deleteUser()">Delete Account</button>
      </div>
    </form>
  </div>