<h3>Edit Profile</h3>
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="formGroup">
        <label>Email:</label>
        <input type="email" class="formControl" placeholder="Email" [(ngModel)]="email" required readonly>
      </div>
      <div class="formGroup" hidden>
        <label>Password:</label>
        <input type="password" class="formControl" placeholder="Password" [(ngModel)]="password" required readonly>
      </div>
      <div class="formGroup">
        <label>First name:</label>
        <input type="text" class="formControl" placeholder="First name" [(ngModel)]="fname" required>
      </div>
      <div class="formGroup">
        <label>Last name:</label>
        <input type="text" class="formControl" placeholder="Last name" [(ngModel)]="lname">
      </div>
      <div class="formGroup">
        <label>Birthday:</label>
        <input type="date" class="formControl" [(ngModel)]="bday">
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div *ngIf="user.UID.length < 28" style="color:red;">Can't change a mock profile, sorry - sean</div>
      <div class="formGroup" *ngIf="user.UID.length >= 28">
        <input type="button" class="btn btnPrimary" value="Apply Changes" (click)="applyChanges()">
        <input type="button" class="btn btnPrimary" value="Delete Account" (click)="deleteUser()">
      </div>
    </div>
  </div>
</div>