<!-- 

<div *ngIf="user_Class_Id">
    <div class="div" *ngFor="let class of classes"><p *ngIf="user_Class_Id == class._id">{{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button></p></div>
</div> -->



<!-- 
<div *ngIf="user_Class_Id">
    <div class="div" *ngFor="let class of classes"><p *ngIf="user_Class_Id == class._id">{{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button></p></div>
</div> -->



<div *ngIf="user_Class_Id == class._id">
    {{class.Name}} <fa-icon 
    (click)="onSendClassInfo(class)"
    [ngStyle]="{'color':'red'}" [icon]="faTimes"
    ></fa-icon>
</div>


<!-- <div *ngIf="user_Class_Id == class._id">
    {{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button>
</div> -->