<!-- 

<div *ngIf="user_Class_Id">
    <div class="div" *ngFor="let class of classes"><p *ngIf="user_Class_Id == class._id">{{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button></p></div>
</div> -->



<!-- 
<div *ngIf="user_Class_Id">
    <div class="div" *ngFor="let class of classes"><p *ngIf="user_Class_Id == class._id">{{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button></p></div>
</div> -->


<div *ngIf="user_Class_Id == class._id">
    <br>
    <table>
        <td><strong>{{class.Name}} </strong></td>
        <td><strong>${{class.Price}} </strong></td>
        <td><fa-icon 
            (click)="onSendClassInfo(class)"
            [ngStyle]="{'color':'red'}" [icon]="faTrashCan"
            ></fa-icon>
        </td>
    </table>
</div>



<!-- <div *ngIf="user_Class_Id == class._id">
    {{class.Name}} <button (click)="onSendClassInfo(class)">Delete</button>
</div> -->