<div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
          <p>User ID: <strong>{{user.UID}}</strong></p>
          <p>Email: <strong>{{user.Email}}</strong></p>
          <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          <p>Role: <strong>{{user.Role}}</strong></p>
          <p>Name: <strong>{{user.Fname}}  {{user.Lname}}</strong></p>
        </div>
      </div>
    </div>
  </div>


<!-- <input type="button" class="btn btn-primary" value="Edit profile information (wip)">
<input type="button" class="btn btn-primary" value="delete account (wip)">    -->

<input type="button" class="btn btn-primary" value="Sign out" (click)="authService.logout()">
<input type="button" class="btn btn-primary" value="Get Users" (click)="getUsers()">

<a routerLink="/admin"><button id="adminBtn" >Go to Admin</button></a>

<ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
        <p>Name: {{user.Fname}} 
          {{user.Lname}} 
          Role: {{user.Role}} 
          Email: {{user.Email}}</p>
          <button type="button" class="btn btn-success">Edit {{user.Fname}}</button>
          <button type="button" class="btn btn-danger">Delete {{user.Fname}}</button>
    </li>
  </ul>

<!-- <div id="proCon">
    <div *ngFor="let item of profile">
        <h2 id = 'title'>{{item.firstName}} {{item.lastName}}</h2>
        {{item.birthday}}, {{item.email}}, {{role}}, {{adminNotes}}
        <div>
            Classes: {{item.classIDList}}
        </div>
        <div>
            Class history: {{item.classHistory}}
        </div>
     </div>
</div> -->