<!-- PROFILE HAS BEEN TURNED INTO EDIT-PROFILE. DO NOT UNHIDE THIS PLEASE :) -->




<body>
  <!-- need these divs to help center the card -->
  <div class="main-container">
    <div class="form-container">

      <mat-card id="matcard">

        <mat-card-content>

          <div>

            <div>

              <form [formGroup]="signinForm" class="form">
                <h3>Sign In</h3>
                <!-- <div class="formGroup">-->
                <mat-form-field appearance="fill" class="form-item">
                  <input matInput type="text" id="signEmail" formControlName="email" placeholder="Email" #userName
                    required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-item">
                  <input matInput type="password" id="signPassword" formControlName="password" placeholder="Password"
                    #userPassword required>
                </mat-form-field>


                <button mat-raised-button class="btn btnPrimary"
                  (click)="authService.login(userName.value, userPassword.value)">Log in</button>
              </form>
              <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create
                  one here</strong></a>

            </div>
            <h3>Sign In As Fake Admin</h3>
            <div class="formGroup">
              <!-- was input before-->
              <button mat-raised-button color="accent" (click)="signInAsAdmin()">Log in as Admin</button>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>
<!-- <marquee behavior="alternate" direction="left" style="bottom:0px;position:absolute;">
  <img src="../../../assets/SalmonellaNIAID.jpg" [style.width.px]="getPos()" [style.height.px]="getPos()" (click)="triggerAlert()">
</marquee> -->

<!-- <img src="../../../assets/SalmonellaNIAID.jpg" (click)="triggerAlert()" style="position:absolute;right:0px;bottom:0px;width:100px;height:100px"> -->