<body>
  <div class="main-container">
    <div class="form-container">
      <mat-card id="matcard">
        <mat-card-content>

          <form [formGroup]="signinForm" class="form">
            <h1>CSports</h1>
            <mat-card-title>Sign In</mat-card-title>
            <p id="inputcon">
              <mat-form-field appearance="fill" class="form-item">
                <div id="label">Email</div>
                <input matInput type="text" id="signEmail" formControlName="email" placeholder="Email" #userName
                  required>
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-item">
                <div id="label">Password</div>
                <input matInput type="password" id="signPassword" formControlName="password" placeholder="Password"
                  #userPassword required>
              </mat-form-field>
            </p>
            <button mat-raised-button class="btn btnPrimary"
              (click)="authService.login(userName.value, userPassword.value)">Log in</button>
          </form>

          <a id="matpage" routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create one
              here</strong></a>
          <!--Delete before publish!-->
          <!-- <h3>Sign In As Fake Admin</h3>
           <div class="formGroup">
            <button mat-raised-button color="accent" (click)="signInAsAdmin()">Log in as Admin</button>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>