@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {

    background-color: purple; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, purple, rgb(184, 82, 184));
  }
  
label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
button{
    margin-right: 5px;
    background-color: purple; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, purple, rgb(184, 82, 184));
    box-shadow: 10px 10px 5px  purple;
}
#matcard{
    background-color: rgb(234, 226, 237);
    box-shadow: 10px 10px 5px  purple;
    width: 38%;
    display: inline-flex;
}

.main-container{
    display: grid;
  grid-template-columns: auto ;
  padding-top: 100px;
    text-align: center;
 
    /*color: "primary"; does not work*/
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px;
    
}
mat-form-field {
    width: 60%;
    
    font-size: 30px;
    text-align: center;
  }


/* ng-deep is combinator can be used to force a style down to child component (overrides the input fills color)*/
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: none;
}


div {
    margin-bottom: 10px;
}