<h2 *ngIf="tempClasses.length > 0">Available Classes</h2>
<h2 *ngIf="tempClasses.length == 0">No Available Classes</h2>

<table id="ava" class="table" id="avaClasses" *ngIf="tempClasses.length > 0">
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Date</th>
    <th>Seats</th>
  </tr>
  <tr *ngFor="let class of tempClasses">
    <td>{{class.Name}}</td>
    <td>{{class.STime}}</td>
    <td>{{class.ETime}}</td>
    <td>{{class.Descript}}</td>
    <td>{{class.Date}}</td>
    <td>{{class.ClassSeats}}</td>
    <button id={{class.CID}} (click)="enrollClass(class.CID)">Enroll</button>
  </tr>
</table>