.calender {
  border-style: inset;
  border-color: #9d4ac5;
  /* padding: 10px; */
  max-width: 1000px;
  text-align: center;
  color: white;
  margin: auto;
}
/* purple: #9d4ac5 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 100fr);
}

.grid-item {
  width: auto;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 25px;
  text-align: left;
}

.weekDays {
  background-color: purple;
  color: white;
  text-align: center;
  height: 21px;
  font-size: 21px;
}

.days {
  background-color: plum;
  color: black;
  min-width: 0;
}

.days:hover {
  background-color: #9d4ac5;
  color: white;
}

.otherDays {
  color: gray;
}

.days .event {
  width: auto;
  max-width: 140.84px;
  height: 20px;
  color: white;
  font-size: 50%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #659157;
}

.days .enrolledEvents {
  width: auto;
  max-width: 140.84px;
  height: 20px;
  color: white;
  font-size: 50%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #92B4F4;
}

.days .pastEvents {
  width: auto;
  max-width: 140.84px;
  height: 20px;
  color: white;
  font-size: 50%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #353535;
}

.eventColor {
  background-color: #659157;
}

.enrolledEventsColor {
  background-color: #92B4F4;
}

.pastEventsColor {
  background-color: #353535;
}

.grid-header {
  position: relative;
}


button {
  width: 6%;
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  max-width: 300px;
  height: auto;
  max-height: 270px;
  background-color:purple;
  color: white;
  text-align: start;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  font-size: 15px;
  z-index: 1;
  bottom: 100%;
  margin-left: -50%;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  overflow-y: auto;
}

.textList {
  border: 1px solid white;
}

.legendH {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

p {
  padding-left: 5px;
}

/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
} */

.tooltip:hover .tooltiptext {
  visibility: visible;
}