<div class="calender">
    <div class="calender-header">
        <button (click)="previousMonth()"><</button>
        <button (click)="nextMonth()">></button><br>
        <button (click)="showCurrentMonth()">Current Month</button>
        <h1>{{currentMonthString}} <br> {{currentYearString}}</h1>
    </div>
    <div class="grid-container">
        <div class="grid-item weekDays">Sun</div>
        <div class="grid-item weekDays">Mon</div>
        <div class="grid-item weekDays">Tue</div>
        <div class="grid-item weekDays">Wed</div>
        <div class="grid-item weekDays">Thu</div>
        <div class="grid-item weekDays">Fri</div>
        <div class="grid-item weekDays">Sat</div>
        <div class="grid-item days otherDays" *ngFor="let day of daysInterfacePreviousDays">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
        </div>
        <div class="grid-item days" *ngFor="let day of daysInterface">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
        </div>

        <div class="grid-item days otherDays" *ngFor="let day of daysInterfaceNextMonthDays">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
        </div>
    </div>
  </div>