.calender {
  border-style: inset;
  border-color: #9d4ac5;
  /* padding: 10px; */
  max-width: 1000px;
  text-align: center;
  color: black;
  margin: auto;
}
/* purple: #9d4ac5 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 100fr);
}

.grid-item {
  width: auto;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 25px;
  text-align: left;
}

.weekDays {
  background-color: purple;
  color: white;
  text-align: center;
  height: 25px;
}

.days {
  background-color: plum;
  color: black;
}

.days:hover {
  background-color: #9d4ac5;
  color: white;
}

.otherDays {
  color: gray;
}

.days .event {
  width: auto;
  height: auto;
  color: white;
  font-size: 0.5vw;
  background-color: green;
}

.days .enrolledEvents {
  width: auto;
  height: auto;
  color: white;
  font-size: 0.5vw;
  background-color: blue;
}

.days .pastEvents {
  width: auto;
  height: auto;
  color: white;
  font-size: 0.5vw;
  background-color: gray;
}

.grid-header {
  position: relative;
}

.legend {
  position: absolute;
  top: -16px;
  right: 0px;
}

button {
  width: 10%;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color:purple;
  color: white;
  text-align: start;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 15px;
  z-index: 1;
  bottom: 100%;
  margin-left: -50%;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}