<div class="calender">
    <div class="grid-header">
        <button (click)="previousMonth()"><</button>
        <button (click)="showCurrentMonth()" style="width:15%;">Current Month</button>
        <button (click)="nextMonth()">></button><br>
        <h1>{{currentMonthString}} {{currentYearString}}</h1>
        <p class="pastEventsColor" style="color: white;margin:0 15px;padding:0;">History Classes</p>
        <p class="enrolledEventsColor" style="color: white;margin:0 15px;padding:0;">Currently Enrolled Classes</p>
        <p class="eventColor" style="color: white;margin:0 15px;padding:0;margin-bottom: 10px;">Available Classes</p>
    </div>
    <div class="grid-container">
        <div class="grid-item weekDays">Sun</div>
        <div class="grid-item weekDays">Mon</div>
        <div class="grid-item weekDays">Tue</div>
        <div class="grid-item weekDays">Wed</div>
        <div class="grid-item weekDays">Thu</div>
        <div class="grid-item weekDays">Fri</div>
        <div class="grid-item weekDays">Sat</div>
        <div class="grid-item days otherDays" *ngFor="let day of daysInterfacePreviousDays">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
        </div>
        <div class="grid-item days tooltip" *ngFor="let day of daysInterface">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
            <div *ngFor="let classList of day.classIDsList">
                <div class="enrolledEvents">{{classList.STime}} | {{classList.Name}}</div>
            </div>
            <div *ngFor="let classList of day.classIDsPast">
                <div class="pastEvents">{{classList.STime}} | {{classList.Name}}</div>
            </div>
            <div *ngFor="let classList of day.classIDsAvailable">
                <div class="event">{{classList.STime}} | {{classList.Name}}</div>
            </div>

            <div class="tooltiptext" *ngIf="day.classIDsList!.length! > 0 || day.classIDsAvailable!.length > 0 
                || day.classIDsPast!.length > 0">
                <h3>{{day.date | date:'longDate'}}</h3>
                <div *ngFor="let classDetails of day.classIDsList" class="textList enrolledEventsColor" >
                    <p style="font-weight:500;">{{classDetails.Name}}</p>
                    <p>Description: {{classDetails.Descript}}</p>
                    <p>Time: {{classDetails.STime}} - {{classDetails.ETime}}</p>
                    <p>Remaining Seats: {{classDetails.ClassSeats}}</p>
                    <p>Price: ${{classDetails.Price}}</p>
                </div>
                <div *ngFor="let classDetails of day.classIDsAvailable" class="textList eventColor">
                    <p style="font-weight:500;">{{classDetails.Name}}</p>
                    <p>Description: {{classDetails.Descript}}</p>
                    <p>Time: {{classDetails.STime}} - {{classDetails.ETime}}</p>
                    <p>Remaining Seats: {{classDetails.ClassSeats}}</p>
                    <p>Price: ${{classDetails.Price}}</p>
                </div>
                <div *ngFor="let classDetails of day.classIDsPast" class="textList pastEventsColor">
                    <p style="font-weight:500;">{{classDetails.Name}}</p>
                    <p>Description: {{classDetails.Descript}}</p>
                    <p>Time: {{classDetails.STime}} - {{classDetails.ETime}}</p>
                    <p>Remaining Seats: {{classDetails.ClassSeats}}</p>
                    <p>Price: ${{classDetails.Price}}</p>
                </div>
            </div>

        </div>

        <div class="grid-item days otherDays" *ngFor="let day of daysInterfaceNextMonthDays">
            <app-calender-day [day]="day" (getDayDetails)="returnDay($event)"></app-calender-day>
        </div>
    </div>
  </div>