<body>


  <!-- need these divs to help center the card -->
  <div class="main-container">
    <div class="form-container">

      <mat-card id="matcard">

        <mat-card-content>

          <div id="titleSignUp">
            <h1>CSports</h1>
            <mat-card-title id=title>Sign Up</mat-card-title>
          </div>



          <div class="formGroup">

            <input type="email" class="formControl" placeholder="Email" #userName [(ngModel)]="email" required>
          </div>
          <div class="formGroup">

            <input type="password" class="formControl" placeholder="Password" [(ngModel)]="password" #userPassword
              required>
          </div>
          <div class="formGroup">

            <input type="text" class="formControl" placeholder="First name" #userFName [(ngModel)]="fname" required>
          </div>
          <div class="formGroup">

            <input type="text" class="formControl" placeholder="Last name" #userLName [(ngModel)]="lname">
          </div>
          <div class="formGroup">

            <input type="date" class="formControl" #userBday [(ngModel)]="bday">
          </div>
          <div class="formGroup">

            <!-- <input type="checkbox" class="formControl" #userIsAdmin [(ngModel)]="isAdmin"> -->
            <input type="text" class="formControl" #userIsAdmin placeholder="type 1 for admin" [(ngModel)]="role">
          </div>
          <!-- Calling SignIn Api from AuthService -->
          <div>
            <button mat-raised-button class="btn btnPrimary" value="Sign up" (click)="signUpNewUser()">Sign up</button>
          </div>


          <a routerLink="/signin" routerLinkActive="active" class="login-account-txt">Got an account? <strong>Login
              here</strong></a>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>