

<app-admins-usersinfo-unit
*ngFor="let user of users"
[user] = "user"
(onEditClassList)="editUserclass(user)"
(onEditUserRole)="editUserRole(user)"
>
</app-admins-usersinfo-unit>


<div *ngIf="check_EditClass">
    <form class="modifiy" (ngSubmit)="confirm()">
    <label for="classes_add">Add Class Number:</label>
    <input type="number" name="classes_add" [(ngModel)]="classes_add" id="classes_add" placeholder="Class number: " />
    <button (click)="add_to_list(classes_add)">Add</button><br><br>
    <label for="classes_delete">Delete Class Number: </label>
    <input type="number" name="classes_delete" [(ngModel)]="classes_delete" id="classes_delete" placeholder="Class number: " />
    <button (click)="delete_From_list(classes_delete)">Delete</button><br><br>
    <input type="submit" value="Confirm" class="btn btn-block"> 
    </form>
</div><br>



<div *ngIf="check_Admin">
<label for="user_role">User Role: </label>
<select onchange="showValue(this)">
    <option value="0">User</option>
    <option value="1">Admin</option>
</select> 
</div>




<!-- 

<form 
*ngFor="let user of users">
    <h3>{{user.Fname}} {{user.Lname}}</h3>
    <p>{{user.ClassIDList}} <button [ngStyle]="{'color': color}" (click)="showEditFrom(user)">Edit</button></p>
    


    <form class="modifiy" (ngSubmit)="onEditClass(classes_fix, user)" *ngIf="ckeck_class">
        <div class="form-control">
            <label for="classes_fix">Class Number: </label>
            <input type="number" name="classes_fix" [(ngModel)]="classes_fix" id="classes_fix" placeholder="Class number: " />
        </div>
    
        <div class="wrap">
            <input type="submit" value="Update" class="btn btn-block"> 
        </div>
    </form>


    <p>{{user.Fname}}</p>
    <p>{{user.Email}}</p>
    <p>{{user.Role}}</p>
</form> -->