
<div class="rect2" *ngIf="check_addclass">
    <h1>Classes available for registration</h1>
    <div *ngFor="let class of classes">
        <br>{{class.Name}}
    </div>
</div>

<div class="rect">
    <div class="table">
        <app-admins-usersinfo-unit
        *ngFor="let user of users"
        [user] = "user"
        (onEditUser)="editUser(user)"
        (onDeleteUser)="deleteUserAccount(user)"
        (onAddUserClass)="addUserclass(user)"
        (onDeleteUserClass)="delteUserclass(user)"
        >
        </app-admins-usersinfo-unit>
    </div>
</div>
