/* .container {
    text-align: center
  }
  
  .ironman {
    animation: rotate_image 6s linear infinite, scale2 6s linear infinite;
    transform-origin: 50% 50%;
  }

  
  @keyframes scale2 {
    0% {
        transform: scale(1);
      }
    100% {
      transform: scale(0);
    }
  } */

  .rect2{    
    display: inline-block;
    margin-left: 1%;
    top: 30px;
	  width: 32%;
    color: white;
    background-color: black;
    font-size: 20px;

  }
  .rect{
    float: left;
    top: 30px;
    margin-right: 1%;
    width: 65%;
    float: right;
    background-color: brown;
  }

