<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="dashboard">
  <div class="row" *ngIf="authService.userData as user">
    <h1>Hello, <strong>{{(user.Fname) ? user.Fname : 'User'}}</strong></h1>

    <div class="topnav" id="myTopnav">
      <div class="dropdown">
        <div class="dropbtn">Account 
          <i class="fa fa-caret-down"></i>
        </div>
        <div class="dropdown-content">
          <a routerLink="account-details" routerLinkActive="active">Details</a>
          <a routerLink="account-edit" routerLinkActive="active">Edit Profile</a>
        </div>
      </div> 
      <a routerLink="manage-classes" routerLinkActive="active">Manage Classes</a>
      <a routerLink="manage-users" routerLinkActive="active">Manage Users</a>
      <div class="topnav-right">
        <a class="btn" (click)="authService.logout()">Sign out</a>
      </div>
    </div>


    <!-- <ul class="navbar">
      <li class="dropdown" routerLinkActive="active">Account
        <ul class="dropdown-content">
          <li routerLink="account-details" routerLinkActive="active">Details</li>
          <li routerLink="account-edit" routerLinkActive="active">Edit Profile</li>
        </ul>
      </li>
      <li routerLink="manage-classes" routerLinkActive="active">Manage Classes</li>
      <li routerLink="manage-users" routerLinkActive="active">Manage Users</li>
      <li class="right" (click)="authService.logout()">Sign out</li>
    </ul> -->

  </div>

  <hr class="rounded">

  <router-outlet></router-outlet>

</div>