/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li.right {
  float:right;
}

li:hover {
  cursor: pointer;
}

li:hover:not(.active) {
  background-color: plum;
}

.active {
  background-color: #04AA6D;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover, .dropdown:hover .dropbtn {
  background-color: #04AA6D;
}

ul li ul {
  display: none;
  position: absolute;
  background-color: purple;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 700px) {
  ul li.right, 
  ul li { 
    float: none;
    display: block;
  }
  ul li ul {
    display: none;
  }
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
} */

.topnav {
  overflow: hidden;
  background-color: purple;
}

.topnav-right {
  float: right;
  cursor: pointer;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  background-color: purple;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: plum;
}

.dropdown-content a:hover {
  background-color: plum;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {
  .topnav {position: relative;}
  .topnav a, .topnav-right {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav .dropdown {float: none;}
  .topnav .dropdown-content {position: relative;}
  .topnav .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 14px 0;
  }
}