body{
    background-image: linear-gradient(to bottom left, purple, rgb(184, 82, 184));
}
.server {
    background-color: green;
    color: white;

}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }