<div class="Display">
  <h2 *ngIf="newList.length > 0">Transaction History</h2>
  <h2 *ngIf="newList.length <= 0">No Transaction History Found</h2>

  <button (click)="showAllTransactions()">Show All</button>

  <table mat-table [dataSource]="newList" class="mat-elevation-z8" *ngIf="newList.length > 0">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Transaction ID</mat-header-cell>
      <mat-cell *matCellDef="let class" data-label="ID">{{class.ID}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let class" data-label="Name">{{class.Name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let class" data-label="Price">${{class.Price}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let class" data-label="Status">{{class.Status | uppercase}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date purchased</mat-header-cell>
      <mat-cell *matCellDef="let class" data-label="Date purchased">{{class.createdAt | date:'M/d/yyyy, h:mm:ss a'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

  </table>
</div>