/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

button {
    color: white;
    height: 30px;
    width: 40%;
    /* if the bttn width is wide the inputs will stack - need to figure out why*/
    /*color: "accent"; only works in html tags*/
}

.mat-raised-button {
    color:white;
}

input {
    height: 20px;
}

body {
    min-height: fit-content;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: purple;
    background-attachment: fixed;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, purple, rgb(184, 82, 184));
    
}

label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

button {
    margin-right: 5px;
    background-color: purple;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, purple, rgb(184, 82, 184));
    /* box-shadow: 10px 10px 5px  purple; */
}

#matcard {
    background-color: rgb(234, 226, 237);
    box-shadow: 10px 10px 5px purple;
    width: 400px;
    min-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.mat-form-field-infix{
    border: none;
}

.form {
    min-width: fit-content;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form-item{
    min-width: fit-content;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.main-container {
    padding-top: 100px;
    text-align: center;
    align-items: center;

    /*color: "primary"; does not work*/
}

#label{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.Display{
    margin-left: 5px;
    margin-right: 5px;
}

.border{
    border-radius: 4px;
    background-color: #E1D9E4;
    box-shadow: 1px 1px 1px #837E84;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;

}

.signupinput{
    border: none;
    background-color: #E8F0FE;
    width: 100%;
}

.main-container{
    padding-top: 0; /* overrided premade padding */
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ng-deep is combinator can be used to force a style down to child component (overrides the input fills color)*/
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: none;
}

/*dropdown styles ------------------------*/

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    border: none;
    min-width: fit-content;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: right;
    width: fit-content;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: fit-content;
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
#drpbtn {
    color: linear-gradient(to right, purple, black);
    text-decoration: none;
    display: block;
    border: none;
    width: fit-content;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: linear-gradient(to right, purple, black);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}