<input type="button" class="btn btn-primary" value="Details" (click)="setView(0)">
<input type="button" class="btn btn-primary" value="Edit Profile" (click)="setView(1)">
<input type="button"  *ngIf="role === '0'" class="btn btn-primary" value="Transaction History" (click)="setView(2)">

<div *ngIf="views[0]">
  <h3>Account Details</h3>
    <div class="displayTable">
      <p>Name: {{fname}} {{lname}}</p>
      <p>Email: {{email}}</p>
      <p>Birthday: {{bday}}</p>
    </div>
  </div>
  
  <div *ngIf="views[1]">
    <app-edit-profile></app-edit-profile>
  </div>

  <div *ngIf="views[2]">
    <p>michaels part is here yayayyyyy</p>
  </div>
