table {
  width: 100%;
}

.mat-column-name {
  font-size: 18px;
}

button {
  width: fit-content;
}


@media screen and (max-width: 900px) {
  .mat-column-name {
    padding-left: 0px;
  }

  .mat-column-actions {
    padding-right: 0px;
    margin-top: 1%;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-header-row {
    background-color: lightgreen;
  }

  .mat-table .mat-row {
    border-bottom: 1px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: end;
    font-weight: bold;
    margin-right: 1%;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    font-weight: normal;
    margin-left: 1%;
    font-size: 1em;
    text-transform: capitalize;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }


}

/* tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  } */